body {
  /*background-image: url('/static/wall1.jpg');  */
  background-position: center;
  background-size: cover;
  }

html, body {
display: flex;
justify-content: center;
height: 100%;
}
body, div, h1, form, input, p { 
padding: 0;
margin: 0;
outline: none;
font-family: Roboto, Arial, sans-serif;
font-size: 16px;
color: #666;
}

hr {
position: relative;
top: 0px;
height: 3px;
margin-bottom: 10px;
color: black;
opacity: 1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px; /* Add margin for spacing between switches */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: none; /* Disable transitions for the slider */
  transition: none; /* Disable transitions for the slider */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #21ed58;
}

input:focus + .slider {
  box-shadow: 0 0 1px #21ed58;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.switch-label {
  margin-bottom: 5px;
  color: whitesmoke;
  font-size: large;
  backdrop-filter: blur(1px);
  padding-right: 3px;
}
 

  /* Up to 576px */
@media (max-width: 575.98px) {
  h1 {
    padding: 5px 0;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    }
    h2 {
    padding: 4px 0;
    font-size: 10px;
    font-weight: 100;
    text-align: center;
    }
    p {
    font-size: 8px;
    }
    .switch-label {
      font-size: 10px;
    }  
}

/* 576px to 767px */
@media (min-width: 576px) and (max-width: 767.98px) {
  h1 {
    padding: 7px 0;
    font-size: 20px;
    font-weight: 150;
    text-align: center;
    }
    h2 {
    padding: 5px 0;
    font-size: 15px;
    font-weight: 150;
    text-align: center;
    }
    p {
    font-size: 10px;
    }
}

/* 768px to 991px */
@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    padding: 10px 0;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    }
    h2 {
    padding: 10px 0;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    }
    p {
    font-size: 12px;
    }
}

/* 992px to 1199px */
@media (min-width: 992px) and (max-width: 1199.98px) {
  h1 {
    padding: 15px 0;
    font-size: 40px;
    font-weight: 350;
    text-align: center;
    }
    h2 {
    padding: 15px 0;
    font-size: 40px;
    font-weight:  350;
    text-align: center;
    }
    p {
    font-size: 18px;
    }
}

/* 1200px and larger */
@media (min-width: 1200px) {
  h1 {
    padding: 20px 0;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    }
    h2 {
    padding: 20px 0;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    }
    p {
    font-size: 25px;
    }
}

h4{
  font-size: 2.5vw;
    font-weight: 400;
    text-align: center;
}

.logo-container {
  width: 25%; /* Adjust this percentage as needed */
  max-width: 200px; /* Optionally set a maximum width for the container */
  margin-right: 10px; /* Add some spacing between the image and text */
}

.btn-block {
  margin-top: 10px;
  text-align: center;
  }
  button{
  width: fit-content;
  padding: 1.5vh 0.7vw;
  margin: 2vh auto 0;
  border-radius: 1vw; 
  border: solid;
  border-color: rgb(27, 123, 225);
  background: #26cde0; 
  font-size: 2vw;
  font-weight: 100;
  color: white;
  }
  button:hover {
  background: red;
  }

  .main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55vw;
  min-height: 40vh;
  padding: 10px 0;
  margin: auto;
  border-radius: 30px; 
  border: solid 3px #ccc;
  box-shadow: 10px 20px 5px rgba(0,0,0,.31); 
  background: transparent;
  backdrop-filter: blur(4px);
  }

  .switch-label {
    font-size: 2vw;
    font-weight: 200;
    text-align: center;
  } 
