{%extends "base.html" %}
{%block title%}Home{%endblock%}

{%block body%} 
    <!-- Set the data attribute to store the token value -->
    <!-- <div id="data-container" data-data="{{ data }}"></div> -->
    <script>
      var jsonData = {{ data | tojson }};
      var globVar = {{ globVar | tojson }};
  </script>

    <div class="main-block">
      <h1 style="color: whitesmoke; display: flex; align-items: center;">
        <div class="logo-container">
          <img src="/static/logo.jpeg" alt="Logo" style="border-radius: 10px; width: 100%;">
        </div>
        <span style="background: rgb(121, 204, 219); color: yellow; padding: 5px;">MST Automations</span>
      </h1>

      <h2 style="color: whitesmoke;"><b><span id="time" > </span></b></h2>
      <center>
        <h4 style="color: whitesmoke;"><b>Status:</b><span id="message" style="color: greenyellow;"></span></h4></center>
      <center>

  <div class="switch-container">
    <label for="switch1" class="switch-label">{{ data["device"][0]["name"] }}</label>
    <label class="switch">
      <input id="switch1" type="checkbox">
      <span class="slider round"></span>
    </label>

    <label for="switch2" class="switch-label">{{ data["device"][1]["name"] }}</label>
    <label class="switch">
      <input id="switch2" type="checkbox">
      <span class="slider round"></span>
    </label>

    <label for="switch3" class="switch-label">{{ data["device"][2]["name"] }}</label>
    <label class="switch">
      <input id="switch3" type="checkbox">
      <span class="slider round"></span>
    </label>

    <label for="switch4" class="switch-label">{{ data["device"][3]["name"] }}</label>
    <label class="switch">
      <input id="switch4" type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>
</center> 
  <script src="/static/js/base.js"></script>
  <a href="/logout"><button type="button">Logout</button>
  </a>
  </div> 
{%endblock%}
